[submodule "frontend-platform"]
	path = frontend-platform
	url = https://github.com/open-craft/frontend-platform.git
[submodule "frontend-component-header"]
	path = frontend-component-header
	url = https://github.com/open-craft/frontend-component-header.git
[submodule "frontend-component-footer"]
	path = frontend-component-footer
	url = https://github.com/open-craft/frontend-component-footer.git
[submodule "frontend-app-profile"]
	path = frontend-app-profile
	url = https://github.com/open-craft/frontend-app-profile.git
